/* FAQs Top portion */
.faq {
    padding: 5rem;
}

.faq .faq-font {
    font-weight: bold;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
}

.bg{
    background-color: black;
}

.faq .faq-below {
    color: white;
    display: flex;
    justify-content: center;
}

.faq .faq-below .faq-hover:hover, .icon:hover {
    color: yellow;
}

.icon {
    color: white;
}


/* FAQs bottom portion */
.faq-item div img {
    margin-right: 4px;
    width: 15px;
    color: white;
    background-color: rgb(158, 219, 158);
    
}

.faq-item div .text {
    text-overflow: ellipsis;
  }

/* Q & As */
.faq-item {
    margin-bottom: -2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.question {
    font-size: large;
    color: rgb(77, 76, 76);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.answer {
    color: rgb(151, 144, 144);
    font-size: small;
    padding: 20px;
    padding-top: 10px;
    display: none;
    margin-top: -1rem;
}

.answer.show {
    display: block;
}



/* About Us */
.aboutUsCenter {
    margin: 20px;
    margin-top: 4.5rem;
}
.aboutUsCenter p {
    color: rgb(151, 144, 144);
    font-size: large;
}
.aboutUsCenter .btn {
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 5px;
    background-color: #1E9D8E;
    color: white;
    border: none;
}
.aboutUsCenter p {
    color: rgb(151, 144, 144);
    font-size: small;
}

/* About Us Bottom Portion */
.aboutUsBottom {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.aboutUsBottom .cards {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.aboutUsBottom .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    margin-bottom: 30px;
}
.aboutUsBottom .cardRow {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.aboutUsBottom .cards .cardRow .card .font {
    text-align: center;
    color: rgb(151, 144, 144);
    font-size: small;
}
.aboutUsBottom p {
    color: rgb(151, 144, 144);
    font-size: small;    
    text-align: center;
}
.aboutUsBottom h1 {
    text-align: center;
}




/* Contact US Portion */
.contactUsCenter {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactUsCenter p {
    color: rgb(151, 144, 144);
    font-size: small;    
    text-align: center;
    margin-top: 0rem;
}

/* Message and Map Portion */
.messageMap {
    display: flex;
    gap: 1rem;
    margin: 3rem 0rem;
}
.messageMap div {
    width: 50%;
}
.messageContainer {
    background-color: #F5F5F5;
    padding: 2rem;
}
.messageContainer p {
    color: rgb(151, 144, 144);
    font-size: small;    
}
.messageContainer div {
    display: flex;
    justify-content: space-between;
    margin-top: 1.7rem;
    margin-bottom: -1rem;
    width: 100%;
}
.messageContainer .input {
    color: rgb(151, 144, 144);
    font-size: x-small;    
    padding: 8px;
}
.messageContainer .inputArea {
    color: rgb(151, 144, 144);
    font-size: x-small;    
    padding: 8px;
    width: 100%;
    height: 4rem;
    border-color: rgb(226, 223, 223);
}
.messageContainer .btn {
    margin-top: 2rem;
    padding: 8px;
    font-size: x-small;
    background-color: orange;
    color: white;
    border: none;
}

/* Contact Us Cards */
.contactUsCards {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    margin: 1rem;
}
.contactUsCards .cardsOuter {
    display: flex;
    width: 33%;
}
.contactUsCards i {
    margin: 1rem;
    font-size: 2rem;
}
.contactUsCards .cardsOuter div {
    display: flex;
    flex-direction: column;
    
}
.contactUsCards .cardsOuter .cardsContent h2, p {
    margin-bottom: 0rem;
}
.contactUsCards .cardsOuter .cardsContent p {
    color: rgb(151, 144, 144);
    font-size: small;    
}
.contactUsCards .cardsOuter .cardsContent h5 {
    margin-top: 0.5rem;
    color: rgb(151, 144, 144);
}


/* Screen Breakpoints */
@media (max-width:1200px) {
    .faq-item {
        margin-left: 5rem;
        margin-right: 5rem;
    }
    
}
@media (max-width:990px) {
    .faq-item {
        margin-left: 5.5rem;
        margin-right: 5.5rem;
    }
    
    .faq .faq-font {
        font-size: 2rem;
    }
}
@media (max-width:760px) {
    .faq {
        padding: 3rem;
    }
    .faq-item {
        margin-left: 3rem;
        margin-right: 3rem;
    }
    /* Cards */
    .aboutUsBottom .cardRow {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .aboutUsBottom .card {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media (max-width:360px) {
    .faq-item {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .aboutUsCenter {
        margin: 5px;
        margin-top: 4.5rem;
    }
    
    
}
